<main>
  <section id="profiles-container">
    <h2>Profiles</h2>
    <ul id="profiles">
      <li *ngFor="let profile of profiles" (click)="toggleSkills($event)">
        <div class="{{profile.id}} profile-card">
          <header class="{{profile.id}} profile-header">
            <img src="../../{{profile.image}}" alt="Image Not Loaded" class="{{profile.id}}">
            <h2 class="{{profile.id}}">{{profile.name}}</h2>
          </header>
          <app-skill-list class="{{profile.id}}" [hidden]="profile.isHidden" [skills]="profile.skills"></app-skill-list>
        </div>
      </li>
    </ul>
  </section>
</main>